:root {
  --main-bg-color: rgb(3, 18, 41);
  --default-text-color: white;

  --header-bg-color: rgb(0, 0, 0);

  --logo-color: rgb(73, 140, 247);

  --nav-text-color: white;

  --button-bg-or-border-color: rgb(73, 140, 247);
  --button-text-color: white;

  --card-color: rgba(73, 140, 247, 0.226);
  --sub-card-bg-color: rgb(3, 18, 41);
  --sub-card-text-color: rgb(255, 255, 255);
  --card-heading-color: rgb(255, 255, 255);
  --card-sub-data-color: rgba(255, 255, 255, 0.739);
}

* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--default-text-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: var(--header-bg-color);
  position: sticky;
  top: 0px;
}
header .website {
  margin-left: 60px;
  font-size: 30px;
  cursor: pointer;
}
header .website a {
  color: var(--logo-color);
}

header nav a {
  color: var(--nav-text-color);
  padding: 10px;
  font-size: 20px;
  font-weight: 300;
}
header nav a:hover {
  border-radius: 5px;
  background-color: var(--card-color);
}

header .account {
  margin-right: 60px;
}
header .account #login {
  font-size: 20px;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid var(--button-bg-or-border-color);
  margin: 10px;
  color: var(--button-bg-or-border-color);
}
header .account #login:hover {
  background-color: var(--button-bg-or-border-color);
  color: var(--button-text-color);
}
header .account #register {
  font-size: 20px;
  padding: 8px;
  border: 1px solid var(--account-button-border-color);
  color: var(--button-text-color);
  background-color: var(--button-bg-or-border-color);
  border-radius: 20px;
  border: 1px solid var(--button-bg-or-border-color);
}
header .account #register:hover {
  border: 1px solid var(--button-bg-or-border-color);
  background: none;
  color: var(--button-bg-or-border-color);
}

header .user {
  background-color: red;
  color: white;
  margin-right: 20px;
  font-size: 20px;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
  display: none;
}

main .small-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: justify; */
  height: 70px;
}
main .small-nav div {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
main .small-nav a {
  color: var(--nav-text-color);
  padding: 10px;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  background-color: var(--card-color);
  margin: 10px;
  border-radius: 20px;
}
main .small-nav a:hover {
  border-radius: 5px;
  background-color: var(--card-color);
}

main {
}

.top-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 60px;
  margin-top: 100px;
}
.top-section .about {
  max-width: 800px;
}
.top-section .about .heading {
  font-size: 80px;
}
.top-section .about .sub-heading {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 300;
}

.top-section .about .social-media {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px auto 0px;
  border: 1px solid var(--button-bg-or-border-color);
  padding: 10px;
  border-radius: 20px;
}
.top-section .about .social-media a img {
  border-radius: 20px;
  height: 50px;
  width: 50;
}

.top-section .img img {
  margin: 40px;
  height: 300px;
  width: 300px;
  margin-bottom: 0px;
}









.service-heading{
  margin-left: 70px;
  font-size: 35px;
}



.practice {
  /* margin: 10px auto 10px; */
  margin-left: 50px;
  margin-right: 70px;
  margin-bottom: 50px;
}

.practice article {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-color: var(--card-color) var(--main-bg-color);
}
article .card {
  background-color: var(--card-color);
  width: 300px;
  margin: 20px;
  border-radius: 20px;
  flex-shrink: 0;
}
article .card .sub-card {
  padding: 20px;
  background-color: var(--sub-card-bg-color);
  color: var(--sub-card-text-color);
  margin: 10px;
  height: 140px;
  font-size: 50px;
  text-wrap: wrap;
  border-radius: 20px;
}
article .card .heading {
  color: var(--sub-card-text-color);
  margin: 20px;
  margin-bottom: 30px;
  text-wrap: wrap;
  font-size: 23px;
}
article .card .sub-data {
  color: var(--sub-card-text-color);
  margin: 20px;
  font-size: 16px;
  color: var(--card-sub-data-color);
}









footer{
  margin-top: 200px;
  margin-bottom: 50px;
  text-align: center;
}
















/* Extra Small Devices (Phones, 0px and up) */
@media (max-width: 575.98px) {
  /* Styles for extra small devices */
  header nav {
    display: none;
  }

  header .account {
    margin-right: 10px;
  }
  header .website {
    margin-left: 10px;
    font-size: 25px;
  }

  header .account #register {
    display: none;
  }

  main .small-nav {
    height: 130px;
  }
  main .small-nav div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .top-section .about .heading {
    font-size: 40px;
    text-align: center;
    margin-top: -60px;
  }
  .top-section .img img {
    height: 250px;
    width: 250px;
  }
  .top-section .about .sub-heading {
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .top-section .img img {
    margin-top: 10px;
  }

  .service-heading{
    margin-left: 20px;
    font-size: 28px;
  }

  .practice {
    margin: 10px auto 10px;
  }
  article .card {
    width: 250px;
  }
  article .card .sub-card {
    height: 100px;
    font-size: 40px;
  }
  article .card .heading {
    font-size: 20px;
  }
  article .card .sub-data {
    font-size: 13px;
  }
}
/* Small Devices (Small tablets and large phones, 576px and up) */
@media (min-width: 575.98px) and (max-width: 767.98px) {
  /* Styles for small devices */
  header nav {
    display: none;
  }

  header .account {
    margin-right: 10px;
  }
  header .website {
    margin-left: 10px;
    font-size: 30px;
  }

  main .small-nav {
    height: 130px;
  }
  main .small-nav div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .top-section .about .heading {
    font-size: 60px;
    text-align: center;
  }
  .top-section .about .sub-heading {
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* Medium Devices (Tablets, 768px and up) */
@media (min-width: 767.98px) and (max-width: 991.98px) {
  /* Styles for medium devices */
  header nav {
    display: none;
  }
  header .account {
    margin-right: 10px;
  }
  header .website {
    margin-left: 10px;
    font-size: 30px;
  }
  .top-section .about .heading {
    font-size: 65px;
    text-align: center;
  }
  .top-section .about .sub-heading {
    font-size: 25px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
  }
}

/* laptops half screen (half screen, 992px and up) */
@media (min-width: 991.98px) and (max-width: 1041px) {
  /* Styles for large devices */
  header nav {
    display: none;
  }
  .top-section .about .heading {
    font-size: 70px;
    text-align: center;
  }
  .top-section .about .sub-heading {
    font-size: 25px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
  }
}

/* laptops 3/2 greater than half screen (Desktops, 992px and up) */
@media (min-width: 1041px) and (max-width: 1310px) {
  /* Styles for large devices */
  main .small-nav {
    display: none;
  }

  .top-section {
    flex-wrap: nowrap;
  }
  .top-section .about .heading {
    font-size: 75px;
  }
  .top-section .about .sub-heading {
    font-size: 30px;
  }
  .top-section .img img {
    height: 350px;
    width: 350px;
  }
}

/* Large Devices (Desktops, 992px and up) */
@media (min-width: 1310px) {
  /* Styles for large devices */
  main .small-nav {
    display: none;
  }

  .top-section {
    flex-wrap: nowrap;
  }
  .top-section .img img {
    height: 450px;
    width: 450px;
  }
}

/* javascript adding css during runnig */

.display-none {
  display: none;
}
.display-block {
  display: block;
}
